## 
##  MAC_MPEG2_AV - MPEG-2 hardware implementation for Xilinx multimedia board 
##  Copyright (C) 2007 McMaster University
## 
##==============================================================================
## 
## This file is part of MAC_MPEG2_AV
## 
## MAC_MPEG2_AV is distributed in the hope that it will be useful for further 
## research, but WITHOUT ANY WARRANTY; without even the implied warranty of 
##	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. MAC_MPEG2_AV is free; you 
## can redistribute it and/or modify it provided that proper reference is provided 
## to the authors. See the documents included in the "doc" folder for further details.
##
##==============================================================================

## timing constraints
## constraint for 54 MHz on the ZBT clock
#NET "MASTER_CLOCK_P" TNM_NET = FFS(*): "MASTER_CLOCK_P";
#TIMESPEC "TS_MASTER_CLOCK_P" = PERIOD "MASTER_CLOCK_P" 36.8 ns HIGH 50 %;

## constraint for 40 MHz on the video clock
#NET "ALTERNATE_CLOCK_P" TNM_NET = FFS(*): "ALTERNATE_CLOCK_P";
#TIMESPEC "TS_ALTERNATE_CLOCK_P" = PERIOD "ALTERNATE_CLOCK_P" 19.2 ns HIGH 50 %;

##constraint for 25 MHz on the Ethernet clock
#NET "TX_CLOCK_P" TNM_NET = "TX_CLOCK_P";
#TIMESPEC "TS_TX_CLOCK_P" = PERIOD "TX_CLOCK_P" 20 ns HIGH 50 %;
#NET "RX_CLOCK_P" TNM_NET = "RX_CLOCK_P";
#TIMESPEC "TS_RX_CLOCK_P" = PERIOD "RX_CLOCK_P" 20 ns HIGH 50 %;

##constraint for delay to ZBT clock pads
#PIN "clock_gen_1/MEMORY_DCM.CLK2X" TNM = "MEMORY_DCM";
#PIN "clock_gen_1/MEMORY_VIDEO_DCM.CLKFX" TNM = "MEMORY_VIDEO_DCM";
#NET "MEMORY_BANK0_CLK_P" TNM = "MEMORY_BANK0_CLK_P";
#NET "MEMORY_BANK1_CLK_P" TNM = "MEMORY_BANK1_CLK_P";
#NET "MEMORY_BANK2_CLK_P" TNM = "MEMORY_BANK2_CLK_P";
#NET "MEMORY_BANK3_CLK_P" TNM = "MEMORY_BANK3_CLK_P";
#NET "MEMORY_BANK4_CLK_P" TNM = "MEMORY_BANK4_CLK_P";

#TIMESPEC "TS_MEMORY_BANK1_CLK_P_VID" = FROM "MEMORY_VIDEO_DCM" TO "MEMORY_BANK1_CLK_P" 4.8 ns;
#TIMESPEC "TS_MEMORY_BANK2_CLK_P_VID" = FROM "MEMORY_VIDEO_DCM" TO "MEMORY_BANK2_CLK_P" 4.8 ns;
#TIMESPEC "TS_MEMORY_BANK0_CLK_P_MEM" = FROM "MEMORY_DCM" TO "MEMORY_BANK0_CLK_P" 4.8 ns;
#TIMESPEC "TS_MEMORY_BANK3_CLK_P_MEM" = FROM "MEMORY_DCM" TO "MEMORY_BANK3_CLK_P" 4.8 ns;
#TIMESPEC "TS_MEMORY_BANK4_CLK_P_MEM" = FROM "MEMORY_DCM" TO "MEMORY_BANK4_CLK_P" 4.8 ns;
##TIMESPEC "TS_MEMORY_BANK1_CLK_P_MEM" = FROM "MEMORY_DCM" TO "MEMORY_BANK1_CLK_P" 4.8 ns;
##TIMESPEC "TS_MEMORY_BANK2_CLK_P_MEM" = FROM "MEMORY_DCM" TO "MEMORY_BANK2_CLK_P" 4.8 ns;

# pin assignments
# SYSTEM CLOCKS/SETUP
NET "MASTER_CLOCK_P" LOC = "AH15";
NET "ALTERNATE_CLOCK_P" LOC = "AD16";
NET "STARTUP_O" LOC = "AK5";

# MEMORY CLOCK FEEDBACK LOOP
NET "MEM_CLK_FBIN_P" FEEDBACK =  5 ns NET "MEM_CLK_FBOUT_P" ;
NET "MEM_CLK_FBIN_P" LOC = "AE15";
NET "MEM_CLK_FBOUT_P" LOC = "AH14";
NET "MEM_CLK_FBOUT_P" FAST;
NET "MEM_CLK_FBOUT_P" IOSTANDARD = LVTTL;
NET "MEM_CLK_FBOUT_P" DRIVE = 12;

# DCM RESET EXTENSION
NET "EXTEND_DCM_RESET_P" LOC = "AH7";

# USER INPUT OUTPUT
NET "USER_INPUT0_P" LOC = "D10";
NET "USER_INPUT1_P" LOC = "F14";
NET "USER_LED0_N" LOC = "B27";
NET "USER_LED0_N" SLOW;
NET "USER_LED0_N" IOSTANDARD = LVTTL;
NET "USER_LED0_N" DRIVE = 12;
NET "USER_LED1_N" LOC = "B22";
NET "USER_LED1_N" SLOW;
NET "USER_LED1_N" IOSTANDARD = LVTTL;
NET "USER_LED1_N" DRIVE = 12;

# PAL/NTSC select switch
NET "PAL_NTSC_N" LOC = "C26";
NET "S_VIDEO_N"  LOC = "C25";

# define the DCMs
# FACTORY_JF = 16'hC080
# STARTUP_WAIT = "FALSE"

# fout = 27,54,108 MHz FOR INTERNAL LOGIC
INST "clock_gen_1/MAIN_DCM" LOC = DCM_X1Y0;
INST "clock_gen_1/MAIN_DCM" DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST "clock_gen_1/MAIN_DCM" CLKIN_PERIOD = 37.037;
INST "clock_gen_1/MAIN_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MAIN_DCM" DLL_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MAIN_DCM" CLK_FEEDBACK = 1X;
INST "clock_gen_1/MAIN_DCM" DUTY_CYCLE_CORRECTION = TRUE;
INST "clock_gen_1/MAIN_DCM" STARTUP_WAIT = FALSE;
INST "clock_gen_1/MAIN_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MAIN_DCM" CLKDV_DIVIDE = 16;
INST "clock_gen_1/MAIN_DCM" CLKFX_DIVIDE = 1;
INST "clock_gen_1/MAIN_DCM" CLKFX_MULTIPLY = 4;
INST "clock_gen_1/MAIN_DCM" CLKOUT_PHASE_SHIFT = NONE;
INST "clock_gen_1/MAIN_DCM" PHASE_SHIFT = 0;

# fout = 27,54,108 MHz FOR MEMORIES (uses external feedback loop)
INST "clock_gen_1/MEMORY_DCM" LOC = DCM_X0Y0;
INST "clock_gen_1/MEMORY_DCM" DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST "clock_gen_1/MEMORY_DCM" CLKIN_PERIOD = 37.037;
INST "clock_gen_1/MEMORY_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MEMORY_DCM" DLL_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MEMORY_DCM" CLK_FEEDBACK = 1X;
INST "clock_gen_1/MEMORY_DCM" DUTY_CYCLE_CORRECTION = TRUE;
INST "clock_gen_1/MEMORY_DCM" STARTUP_WAIT = FALSE;
INST "clock_gen_1/MEMORY_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MEMORY_DCM" CLKDV_DIVIDE = 16;
INST "clock_gen_1/MEMORY_DCM" CLKFX_DIVIDE = 1;
INST "clock_gen_1/MEMORY_DCM" CLKFX_MULTIPLY = 4;
INST "clock_gen_1/MEMORY_DCM" CLKOUT_PHASE_SHIFT = FIXED;

INST "clock_gen_1/MEMORY_DCM" PHASE_SHIFT = -40; # for 54 Mhz

NET "external_ZBT_clock"
ROUTE="{3;1;2v2000ff896;22d15618!-1;-81584;-97664;S!0;-2187;1448!1;-3438;"
"11712!2;0;20504!3;0;20504!4;-56;20536!5;-463;22691!6;0;20380!7;0;20504!8;"
"0;20504!8;12352;-860!9;-2280;8930!10;20960;-220!11;-2495;-377!12;20736;0!"
"13;215;-800;L!14;20736;0!16;22576;0!17;21656;0!18;20736;0!19;20736;0!20;"
"16261;101!20;-1288;11208!21;4818;1860!22;631;21473!23;1426;936!24;152;"
"13568!25;215;-1136;L!26;-24;6784!28;1593;3560;L!}";

# fout = 40 MHz FOR VIDEO
INST "clock_gen_1/VIDEO_DCM" LOC = DCM_X3Y0;
INST "clock_gen_1/VIDEO_DCM" DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST "clock_gen_1/VIDEO_DCM" CLKIN_PERIOD = 20;
INST "clock_gen_1/VIDEO_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/VIDEO_DCM" DLL_FREQUENCY_MODE = LOW;
INST "clock_gen_1/VIDEO_DCM" CLK_FEEDBACK = 1X;
INST "clock_gen_1/VIDEO_DCM" DUTY_CYCLE_CORRECTION = TRUE;
INST "clock_gen_1/VIDEO_DCM" STARTUP_WAIT = FALSE;
INST "clock_gen_1/VIDEO_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/VIDEO_DCM" CLKDV_DIVIDE = 16;
INST "clock_gen_1/VIDEO_DCM" CLKFX_DIVIDE = 5;
INST "clock_gen_1/VIDEO_DCM" CLKFX_MULTIPLY = 4;
INST "clock_gen_1/VIDEO_DCM" CLKOUT_PHASE_SHIFT = NONE;
INST "clock_gen_1/VIDEO_DCM" PHASE_SHIFT = 0;

# fout = 40 MHz FOR VIDEO
INST "clock_gen_1/MEMORY_VIDEO_DCM" LOC = DCM_X2Y0;
INST "clock_gen_1/MEMORY_VIDEO_DCM" DESKEW_ADJUST = SYSTEM_SYNCHRONOUS;
INST "clock_gen_1/MEMORY_VIDEO_DCM" CLKIN_PERIOD = 20;
INST "clock_gen_1/MEMORY_VIDEO_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MEMORY_VIDEO_DCM" DLL_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MEMORY_VIDEO_DCM" CLK_FEEDBACK = 1X;
INST "clock_gen_1/MEMORY_VIDEO_DCM" DUTY_CYCLE_CORRECTION = TRUE;
INST "clock_gen_1/MEMORY_VIDEO_DCM" STARTUP_WAIT = FALSE;
INST "clock_gen_1/MEMORY_VIDEO_DCM" DFS_FREQUENCY_MODE = LOW;
INST "clock_gen_1/MEMORY_VIDEO_DCM" CLKDV_DIVIDE = 16;
INST "clock_gen_1/MEMORY_VIDEO_DCM" CLKFX_DIVIDE = 5;
INST "clock_gen_1/MEMORY_VIDEO_DCM" CLKFX_MULTIPLY = 4;

INST "clock_gen_1/MEMORY_VIDEO_DCM" CLKOUT_PHASE_SHIFT = FIXED;
INST "clock_gen_1/MEMORY_VIDEO_DCM" PHASE_SHIFT = -30; # for 40 Mhz

#INST "clock_gen_1/MEMORY_VIDEO_DCM" CLKOUT_PHASE_SHIFT = VARIABLE;
#INST "clock_gen_1/MEMORY_VIDEO_DCM" PHASE_SHIFT = 0; # for 40 Mhz

NET "external_video_clock"
ROUTE="{3;1;2v2000ff896;91159d71!-1;11032;-97712;S!0;-2187;1496!1;-3438;"
"11712!2;-10479;11569!3;-21656;0!4;-20736;0!5;-11275;-11513!5;-20736;0!6;"
"150;-12896!7;-11261;8983!8;1566;120!9;-3619;11461!10;215;-1136;L!11;"
"-7056;138!13;-3792;-2390!14;1640;767;L!}";

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# AC97 AUDIO CODEC
NET "AC97_DATA_OUT_O" LOC = "E8";
NET "AC97_DATA_IN_I" LOC = "B9";
NET "AC97_SYNCH_O" LOC = "E9";
NET "AC97_BIT_CLOCK_I" LOC = "F15";
NET "AC97_BEEP_TONE_O" LOC = "G11";

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# FAST ETHERNET PORT
NET "TX_DATA_P[0]"  LOC = "G20";
NET "TX_DATA_P[0]"  FAST;
NET "TX_DATA_P[0]"  IOSTANDARD = LVTTL;
NET "TX_DATA_P[0]"  DRIVE = 12;
NET "TX_DATA_P[1]"  LOC = "B21";
NET "TX_DATA_P[1]"  FAST;
NET "TX_DATA_P[1]"  IOSTANDARD = LVTTL;
NET "TX_DATA_P[1]"  DRIVE = 12;
NET "TX_DATA_P[2]"  LOC = "B20";
NET "TX_DATA_P[2]"  FAST;
NET "TX_DATA_P[2]"  IOSTANDARD = LVTTL;
NET "TX_DATA_P[2]"  DRIVE = 12;
NET "TX_DATA_P[3]"  LOC = "C22";
NET "TX_DATA_P[3]"  FAST;
NET "TX_DATA_P[3]"  IOSTANDARD = LVTTL;
NET "TX_DATA_P[3]"  DRIVE = 12;
NET "TX_ENABLE_P" LOC = "G19";
NET "TX_ENABLE_P"  FAST;
NET "TX_ENABLE_P"  IOSTANDARD = LVTTL;
NET "TX_ENABLE_P"  DRIVE = 12;
NET "TX_CLOCK_P" LOC = "H16";
NET "TX_ERROR_P" LOC = "D21";
NET "TX_ERROR_P"  FAST;
NET "TX_ERROR_P"  IOSTANDARD = LVTTL;
NET "TX_ERROR_P"  DRIVE = 12;
NET "ENET_SLEW_P[0]"  LOC = "G16";
NET "ENET_SLEW_P[0]"  SLOW;
NET "ENET_SLEW_P[0]"  IOSTANDARD = LVTTL;
NET "ENET_SLEW_P[0]"  DRIVE = 2;
NET "ENET_SLEW_P[1]"  LOC = "C16";
NET "ENET_SLEW_P[1]"  SLOW;
NET "ENET_SLEW_P[1]"  IOSTANDARD = LVTTL;
NET "ENET_SLEW_P[1]"  DRIVE = 2;
NET "RX_DATA_P[0]"  LOC = "B16";
NET "RX_DATA_P[1]"  LOC = "F17";
NET "RX_DATA_P[2]"  LOC = "F16";
NET "RX_DATA_P[3]"  LOC = "D16";
NET "RX_DATA_VALID_P" LOC = "B17";
NET "RX_ERROR_P" LOC = "D22";
NET "RX_CLOCK_P" LOC = "C17";
NET "COLLISION_DETECTED_P" LOC = "C23";
NET "CARRIER_SENSE_P" LOC = "F20";
NET "PAUSE_P" LOC = "A16";
NET "PAUSE_P"  FAST;
NET "PAUSE_P"  IOSTANDARD = LVTTL;
NET "PAUSE_P"  DRIVE = 12;
NET "MDIO_P" LOC = "A17";
NET "MDIO_P"  SLOW;
NET "MDIO_P"  IOSTANDARD = LVTTL;
NET "MDIO_P"  DRIVE = 12;
NET "MDC_P" LOC = "D17";
NET "MDC_P"  SLOW;
NET "MDC_P"  IOSTANDARD = LVTTL;
NET "MDC_P"  DRIVE = 12;
NET "MDINIT_N" LOC = "F21";
NET "SSN_DATA_P" LOC = "A22";

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# SVGA OUTPUT
NET "VGA_OUT_PIXEL_CLOCK_P" LOC = "A27";
NET "VGA_OUT_PIXEL_CLOCK_P" FAST;
NET "VGA_OUT_PIXEL_CLOCK_P" IOSTANDARD = LVTTL;
NET "VGA_OUT_PIXEL_CLOCK_P" DRIVE = 12;
NET "VGA_COMP_SYNCH_N" LOC = "A26";
NET "VGA_COMP_SYNCH_N" SLOW;
NET "VGA_COMP_SYNCH_N" IOSTANDARD = LVTTL;
NET "VGA_COMP_SYNCH_N" DRIVE = 12;
NET "VGA_OUT_BLANK_N" LOC = "A25";
NET "VGA_OUT_BLANK_N" SLOW;
NET "VGA_OUT_BLANK_N" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLANK_N" DRIVE = 12;
NET "VGA_HSYNCH_N" LOC = "F24";
NET "VGA_HSYNCH_N" SLOW;
NET "VGA_HSYNCH_N" IOSTANDARD = LVTTL;
NET "VGA_HSYNCH_N" DRIVE = 12;
NET "VGA_VSYNCH_N" LOC = "E24";
NET "VGA_VSYNCH_N" SLOW;
NET "VGA_VSYNCH_N" IOSTANDARD = LVTTL;
NET "VGA_VSYNCH_N" DRIVE = 12;
NET "VGA_OUT_RED_P[0]" LOC = "E23";
NET "VGA_OUT_RED_P[0]" SLOW;
NET "VGA_OUT_RED_P[0]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[0]" DRIVE = 12;
NET "VGA_OUT_RED_P[1]" LOC = "E22";
NET "VGA_OUT_RED_P[1]" SLOW;
NET "VGA_OUT_RED_P[1]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[1]" DRIVE = 12;
NET "VGA_OUT_RED_P[2]" LOC = "H20";
NET "VGA_OUT_RED_P[2]" SLOW;
NET "VGA_OUT_RED_P[2]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[2]" DRIVE = 12;
NET "VGA_OUT_RED_P[3]" LOC = "H21";
NET "VGA_OUT_RED_P[3]" SLOW;
NET "VGA_OUT_RED_P[3]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[3]" DRIVE = 12;
NET "VGA_OUT_RED_P[4]" LOC = "B24";
NET "VGA_OUT_RED_P[4]" SLOW;
NET "VGA_OUT_RED_P[4]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[4]" DRIVE = 12;
NET "VGA_OUT_RED_P[5]" LOC = "B23";
NET "VGA_OUT_RED_P[5]" SLOW;
NET "VGA_OUT_RED_P[5]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[5]" DRIVE = 12;
NET "VGA_OUT_RED_P[6]" LOC = "D23";
NET "VGA_OUT_RED_P[6]" SLOW;
NET "VGA_OUT_RED_P[6]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[6]" DRIVE = 12;
NET "VGA_OUT_RED_P[7]" LOC = "D24";
NET "VGA_OUT_RED_P[7]" SLOW;
NET "VGA_OUT_RED_P[7]" IOSTANDARD = LVTTL;
NET "VGA_OUT_RED_P[7]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[0]" LOC = "G21";
NET "VGA_OUT_GREEN_P[0]" SLOW;
NET "VGA_OUT_GREEN_P[0]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[0]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[1]" LOC = "G22";
NET "VGA_OUT_GREEN_P[1]" SLOW;
NET "VGA_OUT_GREEN_P[1]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[1]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[2]" LOC = "B25";
NET "VGA_OUT_GREEN_P[2]" SLOW;
NET "VGA_OUT_GREEN_P[2]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[2]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[3]" LOC = "A24";
NET "VGA_OUT_GREEN_P[3]" SLOW;
NET "VGA_OUT_GREEN_P[3]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[3]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[4]" LOC = "D25";
NET "VGA_OUT_GREEN_P[4]" SLOW;
NET "VGA_OUT_GREEN_P[4]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[4]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[5]" LOC = "C24";
NET "VGA_OUT_GREEN_P[5]" SLOW;
NET "VGA_OUT_GREEN_P[5]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[5]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[6]" LOC = "F22";
NET "VGA_OUT_GREEN_P[6]" SLOW;
NET "VGA_OUT_GREEN_P[6]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[6]" DRIVE = 12;
NET "VGA_OUT_GREEN_P[7]" LOC = "F23";
NET "VGA_OUT_GREEN_P[7]" SLOW;
NET "VGA_OUT_GREEN_P[7]" IOSTANDARD = LVTTL;
NET "VGA_OUT_GREEN_P[7]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[0]" LOC = "C30";
NET "VGA_OUT_BLUE_P[0]" SLOW;
NET "VGA_OUT_BLUE_P[0]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[0]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[1]" LOC = "B30";
NET "VGA_OUT_BLUE_P[1]" SLOW;
NET "VGA_OUT_BLUE_P[1]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[1]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[2]" LOC = "G23";
NET "VGA_OUT_BLUE_P[2]" SLOW;
NET "VGA_OUT_BLUE_P[2]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[2]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[3]" LOC = "H23";
NET "VGA_OUT_BLUE_P[3]" SLOW;
NET "VGA_OUT_BLUE_P[3]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[3]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[4]" LOC = "D28";
NET "VGA_OUT_BLUE_P[4]" SLOW;
NET "VGA_OUT_BLUE_P[4]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[4]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[5]" LOC = "E28";
NET "VGA_OUT_BLUE_P[5]" SLOW;
NET "VGA_OUT_BLUE_P[5]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[5]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[6]" LOC = "D29";
NET "VGA_OUT_BLUE_P[6]" SLOW;
NET "VGA_OUT_BLUE_P[6]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[6]" DRIVE = 12;
NET "VGA_OUT_BLUE_P[7]" LOC = "C29";
NET "VGA_OUT_BLUE_P[7]" SLOW;
NET "VGA_OUT_BLUE_P[7]" IOSTANDARD = LVTTL;
NET "VGA_OUT_BLUE_P[7]" DRIVE = 12;

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# ZBT RAM MEMORY BANK0
NET "MEMORY_BANK0_CLK_P" LOC = "G27";
NET "MEMORY_BANK0_CLK_P" FAST;
NET "MEMORY_BANK0_CLK_P" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_CLK_P" DRIVE = 12;
NET "MEMORY_BANK0_CLKEN_N" LOC = "G30";
NET "MEMORY_BANK0_CLKEN_N" FAST;
NET "MEMORY_BANK0_CLKEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_CLKEN_N" DRIVE = 12;
NET "MEMORY_BANK0_WEN_N" LOC = "F26";
NET "MEMORY_BANK0_WEN_N" FAST;
NET "MEMORY_BANK0_WEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_WEN_N" DRIVE = 12;
NET "MEMORY_BANK0_WENA_N" LOC = "J24";
NET "MEMORY_BANK0_WENA_N" FAST;
NET "MEMORY_BANK0_WENA_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_WENA_N" DRIVE = 12;
NET "MEMORY_BANK0_WENB_N" LOC = "H24";
NET "MEMORY_BANK0_WENB_N" FAST;
NET "MEMORY_BANK0_WENB_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_WENB_N" DRIVE = 12;
NET "MEMORY_BANK0_WENC_N" LOC = "F29";
NET "MEMORY_BANK0_WENC_N" FAST;
NET "MEMORY_BANK0_WENC_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_WENC_N" DRIVE = 12;
NET "MEMORY_BANK0_WEND_N" LOC = "G29";
NET "MEMORY_BANK0_WEND_N" FAST;
NET "MEMORY_BANK0_WEND_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_WEND_N" DRIVE = 12;
NET "MEMORY_BANK0_ADV_LD_N" LOC = "K23";
NET "MEMORY_BANK0_ADV_LD_N" FAST;
NET "MEMORY_BANK0_ADV_LD_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADV_LD_N" DRIVE = 12;
NET "MEMORY_BANK0_OEN_N" LOC = "F30";
NET "MEMORY_BANK0_OEN_N" FAST;
NET "MEMORY_BANK0_OEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_OEN_N" DRIVE = 12;
NET "MEMORY_BANK0_CEN_N" LOC = "G26";
NET "MEMORY_BANK0_CEN_N" FAST;
NET "MEMORY_BANK0_CEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_CEN_N" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[18]" LOC = "L23";
NET "MEMORY_BANK0_ADDR_P[18]" FAST;
NET "MEMORY_BANK0_ADDR_P[18]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[18]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[17]" LOC = "F28";
NET "MEMORY_BANK0_ADDR_P[17]" FAST;
NET "MEMORY_BANK0_ADDR_P[17]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[17]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[16]" LOC = "U28";
NET "MEMORY_BANK0_ADDR_P[16]" FAST;
NET "MEMORY_BANK0_ADDR_P[16]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[16]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[15]" LOC = "T25";
NET "MEMORY_BANK0_ADDR_P[15]" FAST;
NET "MEMORY_BANK0_ADDR_P[15]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[15]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[14]" LOC = "T24";
NET "MEMORY_BANK0_ADDR_P[14]" FAST;
NET "MEMORY_BANK0_ADDR_P[14]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[14]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[13]" LOC = "U29";
NET "MEMORY_BANK0_ADDR_P[13]" FAST;
NET "MEMORY_BANK0_ADDR_P[13]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[13]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[12]" LOC = "V29";
NET "MEMORY_BANK0_ADDR_P[12]" FAST;
NET "MEMORY_BANK0_ADDR_P[12]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[12]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[11]" LOC = "T27";
NET "MEMORY_BANK0_ADDR_P[11]" FAST;
NET "MEMORY_BANK0_ADDR_P[11]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[11]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[10]" LOC = "U27";
NET "MEMORY_BANK0_ADDR_P[10]" FAST;
NET "MEMORY_BANK0_ADDR_P[10]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[10]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[9]" LOC = "H29";
NET "MEMORY_BANK0_ADDR_P[9]" FAST;
NET "MEMORY_BANK0_ADDR_P[9]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[9]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[8]" LOC = "G28";
NET "MEMORY_BANK0_ADDR_P[8]" FAST;
NET "MEMORY_BANK0_ADDR_P[8]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[8]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[7]" LOC = "G25";
NET "MEMORY_BANK0_ADDR_P[7]" FAST;
NET "MEMORY_BANK0_ADDR_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[7]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[6]" LOC = "H25";
NET "MEMORY_BANK0_ADDR_P[6]" FAST;
NET "MEMORY_BANK0_ADDR_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[6]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[5]" LOC = "AB27";
NET "MEMORY_BANK0_ADDR_P[5]" FAST;
NET "MEMORY_BANK0_ADDR_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[5]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[4]" LOC = "AA27";
NET "MEMORY_BANK0_ADDR_P[4]" FAST;
NET "MEMORY_BANK0_ADDR_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[4]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[3]" LOC = "AA29";
NET "MEMORY_BANK0_ADDR_P[3]" FAST;
NET "MEMORY_BANK0_ADDR_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[3]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[2]" LOC = "AB29";
NET "MEMORY_BANK0_ADDR_P[2]" FAST;
NET "MEMORY_BANK0_ADDR_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[2]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[1]" LOC = "U23";
NET "MEMORY_BANK0_ADDR_P[1]" FAST;
NET "MEMORY_BANK0_ADDR_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[1]" DRIVE = 12;
NET "MEMORY_BANK0_ADDR_P[0]" LOC = "T23";
NET "MEMORY_BANK0_ADDR_P[0]" FAST;
NET "MEMORY_BANK0_ADDR_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_ADDR_P[0]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[7]" LOC = "K26";
NET "MEMORY_BANK0_DATA_A_P[7]" FAST;
NET "MEMORY_BANK0_DATA_A_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[7]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[6]" LOC = "N30";
NET "MEMORY_BANK0_DATA_A_P[6]" FAST;
NET "MEMORY_BANK0_DATA_A_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[6]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[5]" LOC = "R23";
NET "MEMORY_BANK0_DATA_A_P[5]" FAST;
NET "MEMORY_BANK0_DATA_A_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[5]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[4]" LOC = "R27";
NET "MEMORY_BANK0_DATA_A_P[4]" FAST;
NET "MEMORY_BANK0_DATA_A_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[4]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[3]" LOC = "R29";
NET "MEMORY_BANK0_DATA_A_P[3]" FAST;
NET "MEMORY_BANK0_DATA_A_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[3]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[2]" LOC = "R25";
NET "MEMORY_BANK0_DATA_A_P[2]" FAST;
NET "MEMORY_BANK0_DATA_A_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[2]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[1]" LOC = "P28";
NET "MEMORY_BANK0_DATA_A_P[1]" FAST;
NET "MEMORY_BANK0_DATA_A_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[1]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_A_P[0]" LOC = "T30";
NET "MEMORY_BANK0_DATA_A_P[0]" FAST;
NET "MEMORY_BANK0_DATA_A_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_A_P[0]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[7]" LOC = "H28";
NET "MEMORY_BANK0_DATA_B_P[7]" FAST;
NET "MEMORY_BANK0_DATA_B_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[7]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[6]" LOC = "K25";
NET "MEMORY_BANK0_DATA_B_P[6]" FAST;
NET "MEMORY_BANK0_DATA_B_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[6]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[5]" LOC = "H26";
NET "MEMORY_BANK0_DATA_B_P[5]" FAST;
NET "MEMORY_BANK0_DATA_B_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[5]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[4]" LOC = "H27";
NET "MEMORY_BANK0_DATA_B_P[4]" FAST;
NET "MEMORY_BANK0_DATA_B_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[4]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[3]" LOC = "L24";
NET "MEMORY_BANK0_DATA_B_P[3]" FAST;
NET "MEMORY_BANK0_DATA_B_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[3]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[2]" LOC = "K27";
NET "MEMORY_BANK0_DATA_B_P[2]" FAST;
NET "MEMORY_BANK0_DATA_B_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[2]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[1]" LOC = "J29";
NET "MEMORY_BANK0_DATA_B_P[1]" FAST;
NET "MEMORY_BANK0_DATA_B_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[1]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_B_P[0]" LOC = "M25";
NET "MEMORY_BANK0_DATA_B_P[0]" FAST;
NET "MEMORY_BANK0_DATA_B_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_B_P[0]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[7]" LOC = "L26";
NET "MEMORY_BANK0_DATA_C_P[7]" FAST;
NET "MEMORY_BANK0_DATA_C_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[7]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[6]" LOC = "L25";
NET "MEMORY_BANK0_DATA_C_P[6]" FAST;
NET "MEMORY_BANK0_DATA_C_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[6]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[5]" LOC = "K29";
NET "MEMORY_BANK0_DATA_C_P[5]" FAST;
NET "MEMORY_BANK0_DATA_C_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[5]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[4]" LOC = "J27";
NET "MEMORY_BANK0_DATA_C_P[4]" FAST;
NET "MEMORY_BANK0_DATA_C_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[4]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[3]" LOC = "K24";
NET "MEMORY_BANK0_DATA_C_P[3]" FAST;
NET "MEMORY_BANK0_DATA_C_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[3]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[2]" LOC = "J28";
NET "MEMORY_BANK0_DATA_C_P[2]" FAST;
NET "MEMORY_BANK0_DATA_C_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[2]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[1]" LOC = "J26";
NET "MEMORY_BANK0_DATA_C_P[1]" FAST;
NET "MEMORY_BANK0_DATA_C_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[1]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_C_P[0]" LOC = "J25";
NET "MEMORY_BANK0_DATA_C_P[0]" FAST;
NET "MEMORY_BANK0_DATA_C_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_C_P[0]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[7]" LOC = "T28";
NET "MEMORY_BANK0_DATA_D_P[7]" FAST;
NET "MEMORY_BANK0_DATA_D_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[7]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[6]" LOC = "U30";
NET "MEMORY_BANK0_DATA_D_P[6]" FAST;
NET "MEMORY_BANK0_DATA_D_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[6]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[5]" LOC = "R28";
NET "MEMORY_BANK0_DATA_D_P[5]" FAST;
NET "MEMORY_BANK0_DATA_D_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[5]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[4]" LOC = "R24";
NET "MEMORY_BANK0_DATA_D_P[4]" FAST;
NET "MEMORY_BANK0_DATA_D_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[4]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[3]" LOC = "T29";
NET "MEMORY_BANK0_DATA_D_P[3]" FAST;
NET "MEMORY_BANK0_DATA_D_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[3]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[2]" LOC = "P27";
NET "MEMORY_BANK0_DATA_D_P[2]" FAST;
NET "MEMORY_BANK0_DATA_D_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[2]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[1]" LOC = "P23";
NET "MEMORY_BANK0_DATA_D_P[1]" FAST;
NET "MEMORY_BANK0_DATA_D_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[1]" DRIVE = 12;
NET "MEMORY_BANK0_DATA_D_P[0]" LOC = "P30";
NET "MEMORY_BANK0_DATA_D_P[0]" FAST;
NET "MEMORY_BANK0_DATA_D_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK0_DATA_D_P[0]" DRIVE = 12;

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# ZBT RAM MEMORY BANK1
NET "MEMORY_BANK1_CLK_P" LOC = "AB25";
NET "MEMORY_BANK1_CLK_P" FAST;
NET "MEMORY_BANK1_CLK_P" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_CLK_P" DRIVE = 12;
NET "MEMORY_BANK1_CLKEN_N" LOC = "AD30";
NET "MEMORY_BANK1_CLKEN_N" FAST;
NET "MEMORY_BANK1_CLKEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_CLKEN_N" DRIVE = 12;
NET "MEMORY_BANK1_WEN_N" LOC = "AE30";
NET "MEMORY_BANK1_WEN_N" FAST;
NET "MEMORY_BANK1_WEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_WEN_N" DRIVE = 12;
NET "MEMORY_BANK1_WENA_N" LOC = "AA25";
NET "MEMORY_BANK1_WENA_N" FAST;
NET "MEMORY_BANK1_WENA_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_WENA_N" DRIVE = 12;
NET "MEMORY_BANK1_WENB_N" LOC = "AA24";
NET "MEMORY_BANK1_WENB_N" FAST;
NET "MEMORY_BANK1_WENB_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_WENB_N" DRIVE = 12;
NET "MEMORY_BANK1_WENC_N" LOC = "Y24";
NET "MEMORY_BANK1_WENC_N" FAST;
NET "MEMORY_BANK1_WENC_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_WENC_N" DRIVE = 12;
NET "MEMORY_BANK1_WEND_N" LOC = "AC29";
NET "MEMORY_BANK1_WEND_N" FAST;
NET "MEMORY_BANK1_WEND_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_WEND_N" DRIVE = 12;
NET "MEMORY_BANK1_ADV_LD_N" LOC = "AC28";
NET "MEMORY_BANK1_ADV_LD_N" FAST;
NET "MEMORY_BANK1_ADV_LD_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADV_LD_N" DRIVE = 12;
NET "MEMORY_BANK1_OEN_N" LOC = "AB28";
NET "MEMORY_BANK1_OEN_N" FAST;
NET "MEMORY_BANK1_OEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_OEN_N" DRIVE = 12;
NET "MEMORY_BANK1_CEN_N" LOC = "AB30";
NET "MEMORY_BANK1_CEN_N" FAST;
NET "MEMORY_BANK1_CEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_CEN_N" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[18]" LOC = "Y23";
NET "MEMORY_BANK1_ADDR_P[18]" FAST;
NET "MEMORY_BANK1_ADDR_P[18]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[18]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[17]" LOC = "AA23";
NET "MEMORY_BANK1_ADDR_P[17]" FAST;
NET "MEMORY_BANK1_ADDR_P[17]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[17]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[16]" LOC = "AJ27";
NET "MEMORY_BANK1_ADDR_P[16]" FAST;
NET "MEMORY_BANK1_ADDR_P[16]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[16]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[15]" LOC = "AH26";
NET "MEMORY_BANK1_ADDR_P[15]" FAST;
NET "MEMORY_BANK1_ADDR_P[15]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[15]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[14]" LOC = "AK27";
NET "MEMORY_BANK1_ADDR_P[14]" FAST;
NET "MEMORY_BANK1_ADDR_P[14]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[14]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[13]" LOC = "AK26";
NET "MEMORY_BANK1_ADDR_P[13]" FAST;
NET "MEMORY_BANK1_ADDR_P[13]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[13]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[12]" LOC = "AC21";
NET "MEMORY_BANK1_ADDR_P[12]" FAST;
NET "MEMORY_BANK1_ADDR_P[12]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[12]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[11]" LOC = "AC20";
NET "MEMORY_BANK1_ADDR_P[11]" FAST;
NET "MEMORY_BANK1_ADDR_P[11]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[11]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[10]" LOC = "AG24";
NET "MEMORY_BANK1_ADDR_P[10]" FAST;
NET "MEMORY_BANK1_ADDR_P[10]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[10]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[9]" LOC = "AC26";
NET "MEMORY_BANK1_ADDR_P[9]" FAST;
NET "MEMORY_BANK1_ADDR_P[9]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[9]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[8]" LOC = "AB26";
NET "MEMORY_BANK1_ADDR_P[8]" FAST;
NET "MEMORY_BANK1_ADDR_P[8]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[8]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[7]" LOC = "Y25";
NET "MEMORY_BANK1_ADDR_P[7]" FAST;
NET "MEMORY_BANK1_ADDR_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[7]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[6]" LOC = "W25";
NET "MEMORY_BANK1_ADDR_P[6]" FAST;
NET "MEMORY_BANK1_ADDR_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[6]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[5]" LOC = "AH25";
NET "MEMORY_BANK1_ADDR_P[5]" FAST;
NET "MEMORY_BANK1_ADDR_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[5]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[4]" LOC = "AE21";
NET "MEMORY_BANK1_ADDR_P[4]" FAST;
NET "MEMORY_BANK1_ADDR_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[4]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[3]" LOC = "AD22";
NET "MEMORY_BANK1_ADDR_P[3]" FAST;
NET "MEMORY_BANK1_ADDR_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[3]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[2]" LOC = "AJ25";
NET "MEMORY_BANK1_ADDR_P[2]" FAST;
NET "MEMORY_BANK1_ADDR_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[2]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[1]" LOC = "AJ24";
NET "MEMORY_BANK1_ADDR_P[1]" FAST;
NET "MEMORY_BANK1_ADDR_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[1]" DRIVE = 12;
NET "MEMORY_BANK1_ADDR_P[0]" LOC = "AG25";
NET "MEMORY_BANK1_ADDR_P[0]" FAST;
NET "MEMORY_BANK1_ADDR_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_ADDR_P[0]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[7]" LOC = "AH29";
NET "MEMORY_BANK1_DATA_A_P[7]" FAST;
NET "MEMORY_BANK1_DATA_A_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[7]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[6]" LOC = "AE27";
NET "MEMORY_BANK1_DATA_A_P[6]" FAST;
NET "MEMORY_BANK1_DATA_A_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[6]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[5]" LOC = "AC23";
NET "MEMORY_BANK1_DATA_A_P[5]" FAST;
NET "MEMORY_BANK1_DATA_A_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[5]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[4]" LOC = "AH30";
NET "MEMORY_BANK1_DATA_A_P[4]" FAST;
NET "MEMORY_BANK1_DATA_A_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[4]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[3]" LOC = "AF28";
NET "MEMORY_BANK1_DATA_A_P[3]" FAST;
NET "MEMORY_BANK1_DATA_A_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[3]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[2]" LOC = "AB23";
NET "MEMORY_BANK1_DATA_A_P[2]" FAST;
NET "MEMORY_BANK1_DATA_A_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[2]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[1]" LOC = "AK29";
NET "MEMORY_BANK1_DATA_A_P[1]" FAST;
NET "MEMORY_BANK1_DATA_A_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[1]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_A_P[0]" LOC = "AE23";
NET "MEMORY_BANK1_DATA_A_P[0]" FAST;
NET "MEMORY_BANK1_DATA_A_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_A_P[0]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[7]" LOC = "AC27";
NET "MEMORY_BANK1_DATA_B_P[7]" FAST;
NET "MEMORY_BANK1_DATA_B_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[7]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[6]" LOC = "AB24";
NET "MEMORY_BANK1_DATA_B_P[6]" FAST;
NET "MEMORY_BANK1_DATA_B_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[6]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[5]" LOC = "AE29";
NET "MEMORY_BANK1_DATA_B_P[5]" FAST;
NET "MEMORY_BANK1_DATA_B_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[5]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[4]" LOC = "AD28";
NET "MEMORY_BANK1_DATA_B_P[4]" FAST;
NET "MEMORY_BANK1_DATA_B_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[4]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[3]" LOC = "AC25";
NET "MEMORY_BANK1_DATA_B_P[3]" FAST;
NET "MEMORY_BANK1_DATA_B_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[3]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[2]" LOC = "AF30";
NET "MEMORY_BANK1_DATA_B_P[2]" FAST;
NET "MEMORY_BANK1_DATA_B_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[2]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[1]" LOC = "AD26";
NET "MEMORY_BANK1_DATA_B_P[1]" FAST;
NET "MEMORY_BANK1_DATA_B_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[1]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_B_P[0]" LOC = "AD24";
NET "MEMORY_BANK1_DATA_B_P[0]" FAST;
NET "MEMORY_BANK1_DATA_B_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_B_P[0]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[7]" LOC = "AE24";
NET "MEMORY_BANK1_DATA_C_P[7]" FAST;
NET "MEMORY_BANK1_DATA_C_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[7]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[6]" LOC = "AE26";
NET "MEMORY_BANK1_DATA_C_P[6]" FAST;
NET "MEMORY_BANK1_DATA_C_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[6]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[5]" LOC = "AG30";
NET "MEMORY_BANK1_DATA_C_P[5]" FAST;
NET "MEMORY_BANK1_DATA_C_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[5]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[4]" LOC = "AD25";
NET "MEMORY_BANK1_DATA_C_P[4]" FAST;
NET "MEMORY_BANK1_DATA_C_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[4]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[3]" LOC = "AE28";
NET "MEMORY_BANK1_DATA_C_P[3]" FAST;
NET "MEMORY_BANK1_DATA_C_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[3]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[2]" LOC = "AD29";
NET "MEMORY_BANK1_DATA_C_P[2]" FAST;
NET "MEMORY_BANK1_DATA_C_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[2]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[1]" LOC = "AC24";
NET "MEMORY_BANK1_DATA_C_P[1]" FAST;
NET "MEMORY_BANK1_DATA_C_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[1]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_C_P[0]" LOC = "AD27";
NET "MEMORY_BANK1_DATA_C_P[0]" FAST;
NET "MEMORY_BANK1_DATA_C_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_C_P[0]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[7]" LOC = "AE22";
NET "MEMORY_BANK1_DATA_D_P[7]" FAST;
NET "MEMORY_BANK1_DATA_D_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[7]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[6]" LOC = "AJ28";
NET "MEMORY_BANK1_DATA_D_P[6]" FAST;
NET "MEMORY_BANK1_DATA_D_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[6]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[5]" LOC = "AC22";
NET "MEMORY_BANK1_DATA_D_P[5]" FAST;
NET "MEMORY_BANK1_DATA_D_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[5]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[4]" LOC = "AG28";
NET "MEMORY_BANK1_DATA_D_P[4]" FAST;
NET "MEMORY_BANK1_DATA_D_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[4]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[3]" LOC = "AJ30";
NET "MEMORY_BANK1_DATA_D_P[3]" FAST;
NET "MEMORY_BANK1_DATA_D_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[3]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[2]" LOC = "AD23";
NET "MEMORY_BANK1_DATA_D_P[2]" FAST;
NET "MEMORY_BANK1_DATA_D_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[2]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[1]" LOC = "AF27";
NET "MEMORY_BANK1_DATA_D_P[1]" FAST;
NET "MEMORY_BANK1_DATA_D_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[1]" DRIVE = 12;
NET "MEMORY_BANK1_DATA_D_P[0]" LOC = "AG29";
NET "MEMORY_BANK1_DATA_D_P[0]" FAST;
NET "MEMORY_BANK1_DATA_D_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK1_DATA_D_P[0]" DRIVE = 12;

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# ZBT RAM MEMORY BANK2
NET "MEMORY_BANK2_CLK_P" LOC = "AJ22";
NET "MEMORY_BANK2_CLK_P" FAST;
NET "MEMORY_BANK2_CLK_P" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_CLK_P" DRIVE = 12;
NET "MEMORY_BANK2_CLKEN_N" LOC = "AE20";
NET "MEMORY_BANK2_CLKEN_N" FAST;
NET "MEMORY_BANK2_CLKEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_CLKEN_N" DRIVE = 12;
NET "MEMORY_BANK2_WEN_N" LOC = "AJ23";
NET "MEMORY_BANK2_WEN_N" FAST;
NET "MEMORY_BANK2_WEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_WEN_N" DRIVE = 12;
NET "MEMORY_BANK2_WENA_N" LOC = "AF24";
NET "MEMORY_BANK2_WENA_N" FAST;
NET "MEMORY_BANK2_WENA_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_WENA_N" DRIVE = 12;
NET "MEMORY_BANK2_WENB_N" LOC = "AG23";
NET "MEMORY_BANK2_WENB_N" FAST;
NET "MEMORY_BANK2_WENB_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_WENB_N" DRIVE = 12;
NET "MEMORY_BANK2_WENC_N" LOC = "AD20";
NET "MEMORY_BANK2_WENC_N" FAST;
NET "MEMORY_BANK2_WENC_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_WENC_N" DRIVE = 12;
NET "MEMORY_BANK2_WEND_N" LOC = "AD21";
NET "MEMORY_BANK2_WEND_N" FAST;
NET "MEMORY_BANK2_WEND_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_WEND_N" DRIVE = 12;
NET "MEMORY_BANK2_ADV_LD_N" LOC = "AF23";
NET "MEMORY_BANK2_ADV_LD_N" FAST;
NET "MEMORY_BANK2_ADV_LD_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADV_LD_N" DRIVE = 12;
NET "MEMORY_BANK2_OEN_N" LOC = "AE19";
NET "MEMORY_BANK2_OEN_N" FAST;
NET "MEMORY_BANK2_OEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_OEN_N" DRIVE = 12;
NET "MEMORY_BANK2_CEN_N" LOC = "AK25";
NET "MEMORY_BANK2_CEN_N" FAST;
NET "MEMORY_BANK2_CEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_CEN_N" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[18]" LOC = "AF22";
NET "MEMORY_BANK2_ADDR_P[18]" FAST;
NET "MEMORY_BANK2_ADDR_P[18]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[18]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[17]" LOC = "AG21";
NET "MEMORY_BANK2_ADDR_P[17]" FAST;
NET "MEMORY_BANK2_ADDR_P[17]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[17]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[16]" LOC = "AE11";
NET "MEMORY_BANK2_ADDR_P[16]" FAST;
NET "MEMORY_BANK2_ADDR_P[16]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[16]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[15]" LOC = "AJ7";
NET "MEMORY_BANK2_ADDR_P[15]" FAST;
NET "MEMORY_BANK2_ADDR_P[15]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[15]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[14]" LOC = "AJ8";
NET "MEMORY_BANK2_ADDR_P[14]" FAST;
NET "MEMORY_BANK2_ADDR_P[14]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[14]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[13]" LOC = "AG7";
NET "MEMORY_BANK2_ADDR_P[13]" FAST;
NET "MEMORY_BANK2_ADDR_P[13]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[13]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[12]" LOC = "AG8";
NET "MEMORY_BANK2_ADDR_P[12]" FAST;
NET "MEMORY_BANK2_ADDR_P[12]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[12]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[11]" LOC = "AD11";
NET "MEMORY_BANK2_ADDR_P[11]" FAST;
NET "MEMORY_BANK2_ADDR_P[11]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[11]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[10]" LOC = "AD10";
NET "MEMORY_BANK2_ADDR_P[10]" FAST;
NET "MEMORY_BANK2_ADDR_P[10]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[10]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[9]" LOC = "AH23";
NET "MEMORY_BANK2_ADDR_P[9]" FAST;
NET "MEMORY_BANK2_ADDR_P[9]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[9]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[8]" LOC = "AG22";
NET "MEMORY_BANK2_ADDR_P[8]" FAST;
NET "MEMORY_BANK2_ADDR_P[8]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[8]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[7]" LOC = "AK24";
NET "MEMORY_BANK2_ADDR_P[7]" FAST;
NET "MEMORY_BANK2_ADDR_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[7]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[6]" LOC = "AH24";
NET "MEMORY_BANK2_ADDR_P[6]" FAST;
NET "MEMORY_BANK2_ADDR_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[6]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[5]" LOC = "AE9";
NET "MEMORY_BANK2_ADDR_P[5]" FAST;
NET "MEMORY_BANK2_ADDR_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[5]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[4]" LOC = "AE10";
NET "MEMORY_BANK2_ADDR_P[4]" FAST;
NET "MEMORY_BANK2_ADDR_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[4]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[3]" LOC = "AF7";
NET "MEMORY_BANK2_ADDR_P[3]" FAST;
NET "MEMORY_BANK2_ADDR_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[3]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[2]" LOC = "AF8";
NET "MEMORY_BANK2_ADDR_P[2]" FAST;
NET "MEMORY_BANK2_ADDR_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[2]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[1]" LOC = "AK7";
NET "MEMORY_BANK2_ADDR_P[1]" FAST;
NET "MEMORY_BANK2_ADDR_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[1]" DRIVE = 12;
NET "MEMORY_BANK2_ADDR_P[0]" LOC = "AJ6";
NET "MEMORY_BANK2_ADDR_P[0]" FAST;
NET "MEMORY_BANK2_ADDR_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_ADDR_P[0]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[7]" LOC = "AK14";
NET "MEMORY_BANK2_DATA_A_P[7]" FAST;
NET "MEMORY_BANK2_DATA_A_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[7]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[6]" LOC = "AG15";
NET "MEMORY_BANK2_DATA_A_P[6]" FAST;
NET "MEMORY_BANK2_DATA_A_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[6]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[5]" LOC = "AC14";
NET "MEMORY_BANK2_DATA_A_P[5]" FAST;
NET "MEMORY_BANK2_DATA_A_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[5]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[4]" LOC = "AJ14";
NET "MEMORY_BANK2_DATA_A_P[4]" FAST;
NET "MEMORY_BANK2_DATA_A_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[4]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[3]" LOC = "AF11";
NET "MEMORY_BANK2_DATA_A_P[3]" FAST;
NET "MEMORY_BANK2_DATA_A_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[3]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[2]" LOC = "AH8";
NET "MEMORY_BANK2_DATA_A_P[2]" FAST;
NET "MEMORY_BANK2_DATA_A_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[2]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[1]" LOC = "AK9";
NET "MEMORY_BANK2_DATA_A_P[1]" FAST;
NET "MEMORY_BANK2_DATA_A_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[1]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_A_P[0]" LOC = "AG9";
NET "MEMORY_BANK2_DATA_A_P[0]" FAST;
NET "MEMORY_BANK2_DATA_A_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_A_P[0]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[7]" LOC = "AH22";
NET "MEMORY_BANK2_DATA_B_P[7]" FAST;
NET "MEMORY_BANK2_DATA_B_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[7]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[6]" LOC = "AF21";
NET "MEMORY_BANK2_DATA_B_P[6]" FAST;
NET "MEMORY_BANK2_DATA_B_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[6]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[5]" LOC = "AK17";
NET "MEMORY_BANK2_DATA_B_P[5]" FAST;
NET "MEMORY_BANK2_DATA_B_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[5]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[4]" LOC = "AC16";
NET "MEMORY_BANK2_DATA_B_P[4]" FAST;
NET "MEMORY_BANK2_DATA_B_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[4]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[3]" LOC = "AG17";
NET "MEMORY_BANK2_DATA_B_P[3]" FAST;
NET "MEMORY_BANK2_DATA_B_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[3]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[2]" LOC = "AJ16";
NET "MEMORY_BANK2_DATA_B_P[2]" FAST;
NET "MEMORY_BANK2_DATA_B_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[2]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[1]" LOC = "AH17";
NET "MEMORY_BANK2_DATA_B_P[1]" FAST;
NET "MEMORY_BANK2_DATA_B_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[1]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_B_P[0]" LOC = "AD15";
NET "MEMORY_BANK2_DATA_B_P[0]" FAST;
NET "MEMORY_BANK2_DATA_B_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_B_P[0]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[7]" LOC = "AK15";
NET "MEMORY_BANK2_DATA_C_P[7]" FAST;
NET "MEMORY_BANK2_DATA_C_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[7]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[6]" LOC = "AH16";
NET "MEMORY_BANK2_DATA_C_P[6]" FAST;
NET "MEMORY_BANK2_DATA_C_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[6]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[5]" LOC = "AE16";
NET "MEMORY_BANK2_DATA_C_P[5]" FAST;
NET "MEMORY_BANK2_DATA_C_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[5]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[4]" LOC = "AJ17";
NET "MEMORY_BANK2_DATA_C_P[4]" FAST;
NET "MEMORY_BANK2_DATA_C_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[4]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[3]" LOC = "AG16";
NET "MEMORY_BANK2_DATA_C_P[3]" FAST;
NET "MEMORY_BANK2_DATA_C_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[3]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[2]" LOC = "AC17";
NET "MEMORY_BANK2_DATA_C_P[2]" FAST;
NET "MEMORY_BANK2_DATA_C_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[2]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[1]" LOC = "AK18";
NET "MEMORY_BANK2_DATA_C_P[1]" FAST;
NET "MEMORY_BANK2_DATA_C_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[1]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_C_P[0]" LOC = "AF20";
NET "MEMORY_BANK2_DATA_C_P[0]" FAST;
NET "MEMORY_BANK2_DATA_C_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_C_P[0]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[7]" LOC = "AE12";
NET "MEMORY_BANK2_DATA_D_P[7]" FAST;
NET "MEMORY_BANK2_DATA_D_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[7]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[6]" LOC = "AG10";
NET "MEMORY_BANK2_DATA_D_P[6]" FAST;
NET "MEMORY_BANK2_DATA_D_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[6]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[5]" LOC = "AJ9";
NET "MEMORY_BANK2_DATA_D_P[5]" FAST;
NET "MEMORY_BANK2_DATA_D_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[5]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[4]" LOC = "AH9";
NET "MEMORY_BANK2_DATA_D_P[4]" FAST;
NET "MEMORY_BANK2_DATA_D_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[4]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[3]" LOC = "AF10";
NET "MEMORY_BANK2_DATA_D_P[3]" FAST;
NET "MEMORY_BANK2_DATA_D_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[3]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[2]" LOC = "AJ15";
NET "MEMORY_BANK2_DATA_D_P[2]" FAST;
NET "MEMORY_BANK2_DATA_D_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[2]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[1]" LOC = "AC15";
NET "MEMORY_BANK2_DATA_D_P[1]" FAST;
NET "MEMORY_BANK2_DATA_D_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[1]" DRIVE = 12;
NET "MEMORY_BANK2_DATA_D_P[0]" LOC = "AG14";
NET "MEMORY_BANK2_DATA_D_P[0]" FAST;
NET "MEMORY_BANK2_DATA_D_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK2_DATA_D_P[0]" DRIVE = 12;

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# ZBT RAM MEMORY BANK3
NET "MEMORY_BANK3_CLK_P" LOC = "K5";
NET "MEMORY_BANK3_CLK_P" FAST;
NET "MEMORY_BANK3_CLK_P" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_CLK_P" DRIVE = 12;
NET "MEMORY_BANK3_CLKEN_N" LOC = "P2";
NET "MEMORY_BANK3_CLKEN_N" FAST;
NET "MEMORY_BANK3_CLKEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_CLKEN_N" DRIVE = 12;
NET "MEMORY_BANK3_WEN_N" LOC = "R2";
NET "MEMORY_BANK3_WEN_N" FAST;
NET "MEMORY_BANK3_WEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_WEN_N" DRIVE = 12;
NET "MEMORY_BANK3_WENA_N" LOC = "L5";
NET "MEMORY_BANK3_WENA_N" FAST;
NET "MEMORY_BANK3_WENA_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_WENA_N" DRIVE = 12;
NET "MEMORY_BANK3_WENB_N" LOC = "M6";
NET "MEMORY_BANK3_WENB_N" FAST;
NET "MEMORY_BANK3_WENB_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_WENB_N" DRIVE = 12;
NET "MEMORY_BANK3_WENC_N" LOC = "L6";
NET "MEMORY_BANK3_WENC_N" FAST;
NET "MEMORY_BANK3_WENC_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_WENC_N" DRIVE = 12;
NET "MEMORY_BANK3_WEND_N" LOC = "J1";
NET "MEMORY_BANK3_WEND_N" FAST;
NET "MEMORY_BANK3_WEND_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_WEND_N" DRIVE = 12;
NET "MEMORY_BANK3_ADV_LD_N" LOC = "R8";
NET "MEMORY_BANK3_ADV_LD_N" FAST;
NET "MEMORY_BANK3_ADV_LD_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADV_LD_N" DRIVE = 12;
NET "MEMORY_BANK3_OEN_N" LOC = "P8";
NET "MEMORY_BANK3_OEN_N" FAST;
NET "MEMORY_BANK3_OEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_OEN_N" DRIVE = 12;
NET "MEMORY_BANK3_CEN_N" LOC = "K1";
NET "MEMORY_BANK3_CEN_N" FAST;
NET "MEMORY_BANK3_CEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_CEN_N" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[18]" LOC = "P4";
NET "MEMORY_BANK3_ADDR_P[18]" FAST;
NET "MEMORY_BANK3_ADDR_P[18]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[18]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[17]" LOC = "R4";
NET "MEMORY_BANK3_ADDR_P[17]" FAST;
NET "MEMORY_BANK3_ADDR_P[17]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[17]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[16]" LOC = "AB3";
NET "MEMORY_BANK3_ADDR_P[16]" FAST;
NET "MEMORY_BANK3_ADDR_P[16]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[16]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[15]" LOC = "AC3";
NET "MEMORY_BANK3_ADDR_P[15]" FAST;
NET "MEMORY_BANK3_ADDR_P[15]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[15]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[14]" LOC = "AB7";
NET "MEMORY_BANK3_ADDR_P[14]" FAST;
NET "MEMORY_BANK3_ADDR_P[14]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[14]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[13]" LOC = "AC7";
NET "MEMORY_BANK3_ADDR_P[13]" FAST;
NET "MEMORY_BANK3_ADDR_P[13]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[13]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[12]" LOC = "AB4";
NET "MEMORY_BANK3_ADDR_P[12]" FAST;
NET "MEMORY_BANK3_ADDR_P[12]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[12]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[11]" LOC = "AC4";
NET "MEMORY_BANK3_ADDR_P[11]" FAST;
NET "MEMORY_BANK3_ADDR_P[11]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[11]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[10]" LOC = "AB5";
NET "MEMORY_BANK3_ADDR_P[10]" FAST;
NET "MEMORY_BANK3_ADDR_P[10]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[10]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[9]" LOC = "T2";
NET "MEMORY_BANK3_ADDR_P[9]" FAST;
NET "MEMORY_BANK3_ADDR_P[9]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[9]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[8]" LOC = "R1";
NET "MEMORY_BANK3_ADDR_P[8]" FAST;
NET "MEMORY_BANK3_ADDR_P[8]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[8]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[7]" LOC = "K4";
NET "MEMORY_BANK3_ADDR_P[7]" FAST;
NET "MEMORY_BANK3_ADDR_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[7]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[6]" LOC = "J4";
NET "MEMORY_BANK3_ADDR_P[6]" FAST;
NET "MEMORY_BANK3_ADDR_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[6]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[5]" LOC = "AD3";
NET "MEMORY_BANK3_ADDR_P[5]" FAST;
NET "MEMORY_BANK3_ADDR_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[5]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[4]" LOC = "AF3";
NET "MEMORY_BANK3_ADDR_P[4]" FAST;
NET "MEMORY_BANK3_ADDR_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[4]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[3]" LOC = "AE2";
NET "MEMORY_BANK3_ADDR_P[3]" FAST;
NET "MEMORY_BANK3_ADDR_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[3]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[2]" LOC = "AB8";
NET "MEMORY_BANK3_ADDR_P[2]" FAST;
NET "MEMORY_BANK3_ADDR_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[2]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[1]" LOC = "AC8";
NET "MEMORY_BANK3_ADDR_P[1]" FAST;
NET "MEMORY_BANK3_ADDR_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[1]" DRIVE = 12;
NET "MEMORY_BANK3_ADDR_P[0]" LOC = "AC5";
NET "MEMORY_BANK3_ADDR_P[0]" FAST;
NET "MEMORY_BANK3_ADDR_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_ADDR_P[0]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[7]" LOC = "AA6";
NET "MEMORY_BANK3_DATA_A_P[7]" FAST;
NET "MEMORY_BANK3_DATA_A_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[7]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[6]" LOC = "AA2";
NET "MEMORY_BANK3_DATA_A_P[6]" FAST;
NET "MEMORY_BANK3_DATA_A_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[6]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[5]" LOC = "Y5";
NET "MEMORY_BANK3_DATA_A_P[5]" FAST;
NET "MEMORY_BANK3_DATA_A_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[5]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[4]" LOC = "Y8";
NET "MEMORY_BANK3_DATA_A_P[4]" FAST;
NET "MEMORY_BANK3_DATA_A_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[4]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[3]" LOC = "AC2";
NET "MEMORY_BANK3_DATA_A_P[3]" FAST;
NET "MEMORY_BANK3_DATA_A_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[3]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[2]" LOC = "Y7";
NET "MEMORY_BANK3_DATA_A_P[2]" FAST;
NET "MEMORY_BANK3_DATA_A_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[2]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[1]" LOC = "AC6";
NET "MEMORY_BANK3_DATA_A_P[1]" FAST;
NET "MEMORY_BANK3_DATA_A_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[1]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_A_P[0]" LOC = "AD1";
NET "MEMORY_BANK3_DATA_A_P[0]" FAST;
NET "MEMORY_BANK3_DATA_A_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_A_P[0]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[7]" LOC = "R7";
NET "MEMORY_BANK3_DATA_B_P[7]" FAST;
NET "MEMORY_BANK3_DATA_B_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[7]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[6]" LOC = "R3";
NET "MEMORY_BANK3_DATA_B_P[6]" FAST;
NET "MEMORY_BANK3_DATA_B_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[6]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[5]" LOC = "T7";
NET "MEMORY_BANK3_DATA_B_P[5]" FAST;
NET "MEMORY_BANK3_DATA_B_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[5]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[4]" LOC = "U1";
NET "MEMORY_BANK3_DATA_B_P[4]" FAST;
NET "MEMORY_BANK3_DATA_B_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[4]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[3]" LOC = "T3";
NET "MEMORY_BANK3_DATA_B_P[3]" FAST;
NET "MEMORY_BANK3_DATA_B_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[3]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[2]" LOC = "T8";
NET "MEMORY_BANK3_DATA_B_P[2]" FAST;
NET "MEMORY_BANK3_DATA_B_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[2]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[1]" LOC = "U2";
NET "MEMORY_BANK3_DATA_B_P[1]" FAST;
NET "MEMORY_BANK3_DATA_B_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[1]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_B_P[0]" LOC = "T4";
NET "MEMORY_BANK3_DATA_B_P[0]" FAST;
NET "MEMORY_BANK3_DATA_B_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_B_P[0]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[7]" LOC = "U4";
NET "MEMORY_BANK3_DATA_C_P[7]" FAST;
NET "MEMORY_BANK3_DATA_C_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[7]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[6]" LOC = "V2";
NET "MEMORY_BANK3_DATA_C_P[6]" FAST;
NET "MEMORY_BANK3_DATA_C_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[6]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[5]" LOC = "U8";
NET "MEMORY_BANK3_DATA_C_P[5]" FAST;
NET "MEMORY_BANK3_DATA_C_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[5]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[4]" LOC = "U3";
NET "MEMORY_BANK3_DATA_C_P[4]" FAST;
NET "MEMORY_BANK3_DATA_C_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[4]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[3]" LOC = "V1";
NET "MEMORY_BANK3_DATA_C_P[3]" FAST;
NET "MEMORY_BANK3_DATA_C_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[3]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[2]" LOC = "T6";
NET "MEMORY_BANK3_DATA_C_P[2]" FAST;
NET "MEMORY_BANK3_DATA_C_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[2]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[1]" LOC = "P3";
NET "MEMORY_BANK3_DATA_C_P[1]" FAST;
NET "MEMORY_BANK3_DATA_C_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[1]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_C_P[0]" LOC = "R6";
NET "MEMORY_BANK3_DATA_C_P[0]" FAST;
NET "MEMORY_BANK3_DATA_C_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_C_P[0]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[7]" LOC = "AE1";
NET "MEMORY_BANK3_DATA_D_P[7]" FAST;
NET "MEMORY_BANK3_DATA_D_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[7]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[6]" LOC = "AB6";
NET "MEMORY_BANK3_DATA_D_P[6]" FAST;
NET "MEMORY_BANK3_DATA_D_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[6]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[5]" LOC = "AA7";
NET "MEMORY_BANK3_DATA_D_P[5]" FAST;
NET "MEMORY_BANK3_DATA_D_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[5]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[4]" LOC = "AD2";
NET "MEMORY_BANK3_DATA_D_P[4]" FAST;
NET "MEMORY_BANK3_DATA_D_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[4]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[3]" LOC = "AA8";
NET "MEMORY_BANK3_DATA_D_P[3]" FAST;
NET "MEMORY_BANK3_DATA_D_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[3]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[2]" LOC = "AA5";
NET "MEMORY_BANK3_DATA_D_P[2]" FAST;
NET "MEMORY_BANK3_DATA_D_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[2]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[1]" LOC = "AB2";
NET "MEMORY_BANK3_DATA_D_P[1]" FAST;
NET "MEMORY_BANK3_DATA_D_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[1]" DRIVE = 12;
NET "MEMORY_BANK3_DATA_D_P[0]" LOC = "Y6";
NET "MEMORY_BANK3_DATA_D_P[0]" FAST;
NET "MEMORY_BANK3_DATA_D_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK3_DATA_D_P[0]" DRIVE = 12;

# PINOUT CONSTRAINTS FOR THE MICROBLAZE and MULTIMEDIA DEMO BOARD
# ZBT RAM MEMORY BANK4
NET "MEMORY_BANK4_CLK_P" LOC = "A5";
NET "MEMORY_BANK4_CLK_P" FAST;
NET "MEMORY_BANK4_CLK_P" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_CLK_P" DRIVE = 12;
NET "MEMORY_BANK4_CLKEN_N" LOC = "C6";
NET "MEMORY_BANK4_CLKEN_N" FAST;
NET "MEMORY_BANK4_CLKEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_CLKEN_N" DRIVE = 12;
NET "MEMORY_BANK4_WEN_N" LOC = "A6";
NET "MEMORY_BANK4_WEN_N" FAST;
NET "MEMORY_BANK4_WEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_WEN_N" DRIVE = 12;
NET "MEMORY_BANK4_WENA_N" LOC = "G9";
NET "MEMORY_BANK4_WENA_N" FAST;
NET "MEMORY_BANK4_WENA_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_WENA_N" DRIVE = 12;
NET "MEMORY_BANK4_WENB_N" LOC = "G10";
NET "MEMORY_BANK4_WENB_N" FAST;
NET "MEMORY_BANK4_WENB_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_WENB_N" DRIVE = 12;
NET "MEMORY_BANK4_WENC_N" LOC = "E7";
NET "MEMORY_BANK4_WENC_N" FAST;
NET "MEMORY_BANK4_WENC_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_WENC_N" DRIVE = 12;
NET "MEMORY_BANK4_WEND_N" LOC = "D8";
NET "MEMORY_BANK4_WEND_N" FAST;
NET "MEMORY_BANK4_WEND_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_WEND_N" DRIVE = 12;
NET "MEMORY_BANK4_ADV_LD_N" LOC = "F9";
NET "MEMORY_BANK4_ADV_LD_N" FAST;
NET "MEMORY_BANK4_ADV_LD_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADV_LD_N" DRIVE = 12;
NET "MEMORY_BANK4_OEN_N" LOC = "C7";
NET "MEMORY_BANK4_OEN_N" FAST;
NET "MEMORY_BANK4_OEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_OEN_N" DRIVE = 12;
NET "MEMORY_BANK4_CEN_N" LOC = "A7";
NET "MEMORY_BANK4_CEN_N" FAST;
NET "MEMORY_BANK4_CEN_N" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_CEN_N" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[18]" LOC = "G8";
NET "MEMORY_BANK4_ADDR_P[18]" FAST;
NET "MEMORY_BANK4_ADDR_P[18]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[18]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[17]" LOC = "B6";
NET "MEMORY_BANK4_ADDR_P[17]" FAST;
NET "MEMORY_BANK4_ADDR_P[17]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[17]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[16]" LOC = "L8";
NET "MEMORY_BANK4_ADDR_P[16]" FAST;
NET "MEMORY_BANK4_ADDR_P[16]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[16]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[15]" LOC = "G4";
NET "MEMORY_BANK4_ADDR_P[15]" FAST;
NET "MEMORY_BANK4_ADDR_P[15]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[15]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[14]" LOC = "H4";
NET "MEMORY_BANK4_ADDR_P[14]" FAST;
NET "MEMORY_BANK4_ADDR_P[14]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[14]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[13]" LOC = "J2";
NET "MEMORY_BANK4_ADDR_P[13]" FAST;
NET "MEMORY_BANK4_ADDR_P[13]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[13]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[12]" LOC = "H2";
NET "MEMORY_BANK4_ADDR_P[12]" FAST;
NET "MEMORY_BANK4_ADDR_P[12]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[12]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[11]" LOC = "J6";
NET "MEMORY_BANK4_ADDR_P[11]" FAST;
NET "MEMORY_BANK4_ADDR_P[11]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[11]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[10]" LOC = "K6";
NET "MEMORY_BANK4_ADDR_P[10]" FAST;
NET "MEMORY_BANK4_ADDR_P[10]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[10]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[9]" LOC = "D7";
NET "MEMORY_BANK4_ADDR_P[9]" FAST;
NET "MEMORY_BANK4_ADDR_P[9]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[9]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[8]" LOC = "C5";
NET "MEMORY_BANK4_ADDR_P[8]" FAST;
NET "MEMORY_BANK4_ADDR_P[8]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[8]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[7]" LOC = "B7";
NET "MEMORY_BANK4_ADDR_P[7]" FAST;
NET "MEMORY_BANK4_ADDR_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[7]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[6]" LOC = "H10";
NET "MEMORY_BANK4_ADDR_P[6]" FAST;
NET "MEMORY_BANK4_ADDR_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[6]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[5]" LOC = "L7";
NET "MEMORY_BANK4_ADDR_P[5]" FAST;
NET "MEMORY_BANK4_ADDR_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[5]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[4]" LOC = "K7";
NET "MEMORY_BANK4_ADDR_P[4]" FAST;
NET "MEMORY_BANK4_ADDR_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[4]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[3]" LOC = "H3";
NET "MEMORY_BANK4_ADDR_P[3]" FAST;
NET "MEMORY_BANK4_ADDR_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[3]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[2]" LOC = "J3";
NET "MEMORY_BANK4_ADDR_P[2]" FAST;
NET "MEMORY_BANK4_ADDR_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[2]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[1]" LOC = "H5";
NET "MEMORY_BANK4_ADDR_P[1]" FAST;
NET "MEMORY_BANK4_ADDR_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[1]" DRIVE = 12;
NET "MEMORY_BANK4_ADDR_P[0]" LOC = "J5";
NET "MEMORY_BANK4_ADDR_P[0]" FAST;
NET "MEMORY_BANK4_ADDR_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_ADDR_P[0]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[7]" LOC = "E4";
NET "MEMORY_BANK4_DATA_A_P[7]" FAST;
NET "MEMORY_BANK4_DATA_A_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[7]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[6]" LOC = "D1";
NET "MEMORY_BANK4_DATA_A_P[6]" FAST;
NET "MEMORY_BANK4_DATA_A_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[6]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[5]" LOC = "H6";
NET "MEMORY_BANK4_DATA_A_P[5]" FAST;
NET "MEMORY_BANK4_DATA_A_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[5]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[4]" LOC = "G5";
NET "MEMORY_BANK4_DATA_A_P[4]" FAST;
NET "MEMORY_BANK4_DATA_A_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[4]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[3]" LOC = "F2";
NET "MEMORY_BANK4_DATA_A_P[3]" FAST;
NET "MEMORY_BANK4_DATA_A_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[3]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[2]" LOC = "J7";
NET "MEMORY_BANK4_DATA_A_P[2]" FAST;
NET "MEMORY_BANK4_DATA_A_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[2]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[1]" LOC = "F3";
NET "MEMORY_BANK4_DATA_A_P[1]" FAST;
NET "MEMORY_BANK4_DATA_A_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[1]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_A_P[0]" LOC = "F1";
NET "MEMORY_BANK4_DATA_A_P[0]" FAST;
NET "MEMORY_BANK4_DATA_A_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_A_P[0]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[7]" LOC = "D6";
NET "MEMORY_BANK4_DATA_B_P[7]" FAST;
NET "MEMORY_BANK4_DATA_B_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[7]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[6]" LOC = "F7";
NET "MEMORY_BANK4_DATA_B_P[6]" FAST;
NET "MEMORY_BANK4_DATA_B_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[6]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[5]" LOC = "A4";
NET "MEMORY_BANK4_DATA_B_P[5]" FAST;
NET "MEMORY_BANK4_DATA_B_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[5]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[4]" LOC = "B1";
NET "MEMORY_BANK4_DATA_B_P[4]" FAST;
NET "MEMORY_BANK4_DATA_B_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[4]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[3]" LOC = "H8";
NET "MEMORY_BANK4_DATA_B_P[3]" FAST;
NET "MEMORY_BANK4_DATA_B_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[3]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[2]" LOC = "E3";
NET "MEMORY_BANK4_DATA_B_P[2]" FAST;
NET "MEMORY_BANK4_DATA_B_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[2]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[1]" LOC = "C2";
NET "MEMORY_BANK4_DATA_B_P[1]" FAST;
NET "MEMORY_BANK4_DATA_B_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[1]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_B_P[0]" LOC = "H7";
NET "MEMORY_BANK4_DATA_B_P[0]" FAST;
NET "MEMORY_BANK4_DATA_B_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_B_P[0]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[7]" LOC = "F4";
NET "MEMORY_BANK4_DATA_C_P[7]" FAST;
NET "MEMORY_BANK4_DATA_C_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[7]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[6]" LOC = "G7";
NET "MEMORY_BANK4_DATA_C_P[6]" FAST;
NET "MEMORY_BANK4_DATA_C_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[6]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[5]" LOC = "D2";
NET "MEMORY_BANK4_DATA_C_P[5]" FAST;
NET "MEMORY_BANK4_DATA_C_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[5]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[4]" LOC = "D3";
NET "MEMORY_BANK4_DATA_C_P[4]" FAST;
NET "MEMORY_BANK4_DATA_C_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[4]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[3]" LOC = "H9";
NET "MEMORY_BANK4_DATA_C_P[3]" FAST;
NET "MEMORY_BANK4_DATA_C_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[3]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[2]" LOC = "C1";
NET "MEMORY_BANK4_DATA_C_P[2]" FAST;
NET "MEMORY_BANK4_DATA_C_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[2]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[1]" LOC = "B4";
NET "MEMORY_BANK4_DATA_C_P[1]" FAST;
NET "MEMORY_BANK4_DATA_C_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[1]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_C_P[0]" LOC = "F8";
NET "MEMORY_BANK4_DATA_C_P[0]" FAST;
NET "MEMORY_BANK4_DATA_C_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_C_P[0]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[7]" LOC = "K8";
NET "MEMORY_BANK4_DATA_D_P[7]" FAST;
NET "MEMORY_BANK4_DATA_D_P[7]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[7]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[6]" LOC = "G1";
NET "MEMORY_BANK4_DATA_D_P[6]" FAST;
NET "MEMORY_BANK4_DATA_D_P[6]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[6]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[5]" LOC = "G3";
NET "MEMORY_BANK4_DATA_D_P[5]" FAST;
NET "MEMORY_BANK4_DATA_D_P[5]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[5]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[4]" LOC = "J8";
NET "MEMORY_BANK4_DATA_D_P[4]" FAST;
NET "MEMORY_BANK4_DATA_D_P[4]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[4]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[3]" LOC = "G2";
NET "MEMORY_BANK4_DATA_D_P[3]" FAST;
NET "MEMORY_BANK4_DATA_D_P[3]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[3]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[2]" LOC = "F5";
NET "MEMORY_BANK4_DATA_D_P[2]" FAST;
NET "MEMORY_BANK4_DATA_D_P[2]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[2]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[1]" LOC = "G6";
NET "MEMORY_BANK4_DATA_D_P[1]" FAST;
NET "MEMORY_BANK4_DATA_D_P[1]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[1]" DRIVE = 12;
NET "MEMORY_BANK4_DATA_D_P[0]" LOC = "E1";
NET "MEMORY_BANK4_DATA_D_P[0]" FAST;
NET "MEMORY_BANK4_DATA_D_P[0]" IOSTANDARD = LVTTL;
NET "MEMORY_BANK4_DATA_D_P[0]" DRIVE = 12;
